:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-white-alpha: rgba(255, 255, 255, 0.7);
  --basic-grey: #464646;
  --basic-grey-dark: #DCDCDC;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-line-color: #FFC600;

  --basic-font-gilroy: "Gilroy", Arial, sans-serif;
  --basic-font-open-sans: "Open Sans", Arial, sans-serif;
  
}

@font-face { 
  font-family: "Gilroy"; 
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"), 
       url("../fonts/gilroyextrabold.woff") format("woff"); 
  font-weight: 800; 
  font-style: normal;
}

@font-face { 
  font-family: "Gilroy"; 
  src: local("Gilroy"),
       url("../fonts/gilroylight.woff2") format("woff2"), 
       url("../fonts/gilroylight.woff") format("woff"); 
  font-weight: 300; 
  font-style: normal;
}

@font-face { 
  font-family: "Open Sans"; 
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"), 
       url("../fonts/opensans.woff") format("woff"); 
  font-weight: 400; 
  font-style: normal;
}

@font-face { 
  font-family: "Open Sans"; 
  src: local("Open Sans"),
       url("../fonts/opensanslight.woff2") format("woff2"), 
       url("../fonts/opensanslight.woff") format("woff"); 
  font-weight: 300; 
  font-style: normal;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.wrapper_indent {
  padding-left: 60px;
  padding-right: 60px;
}

.page {
  height: 100%;
}

.page-body {  
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page-body__header {  
  margin-top: 35px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 16px;
  line-height: 28px;
}

.title_size_tiny {
  font-size: 16px;
  line-height: 18px;
}

.title_size_small {
  font-size: 16px;
  line-height: 20px;
}

.title_size_medium {
  font-size: 18px;
  line-height: 22px;
}

.title_size_big {
  font-size: 36px;
  line-height: 42px;
}

.title_size_huge {
  font-size: 47px;
  line-height: 57px;
}

.title_background_grey {
  background-color: var(--basic-half-grey);
}

.title_background_grey_light {
  background-color: var(--basic-grey-light);
}

.text {
  font-size: 14px;
  line-height: 16px;
}

.text_size_tiny {
  font-size: 13px;
  line-height: 15px;
}

.text_size_small {
  font-size: 13px;
  line-height: 18px;
}

.text_size_medium {
  font-size: 14px;
  line-height: 19px;
}

.text_size_big {
  font-size: 15px;
  line-height: 20px;
}

.text_size_huge {
  font-size: 15px;
  line-height: 28px;
}

.text_open_sans {
  font-family: var(--basic-font-open-sans)
}

.text_gilroy {
  font-family: var(--basic-font-gilroy);
}

.text_color_white {
  color: var(--basic-white);
}

.text_uppercase {
  text-transform: uppercase;
}

.text_weight_lighter {
  font-weight: 400;
}

.text_weight_bold {
  font-weight: 800;
}

.text_align_right {
  text-align: right;
}

.text_float_rigth {
  float: right;
}

.text_align_center {
  text-align: center;
}

.link {
  color: var(--basic-black);
  text-decoration: none;
}

.link_yellow {}

.link_color_white {
  color: var(--basic-white);
}

.input_search {
  color: var(--basic-half-grey);
  border: none;
  background-color: transparent;
}

.button_reset {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  outline: none;
} 

.list {
  list-style: none;
}

.list_style_circle {
  list-style-type: circle;
}

.list_no_indent {
  padding-left: 0px;
}

.list_item_inline { 
  display: inline;
}  

.fielsset {
  border: none;
}

.fielsset_no_indent {
  padding-left: 0px;
  margin-left: 0px;
}

.header {
  background-color: var(--special-yellow-dark);
  height: 300px;
}

.header_catalog {
  height: 186px;
}

.header__logo {
  margin-top: -22px; 
}

.header__menu {
  padding-bottom: 50px;
}

.menu {
  display: grid;
  grid-template-columns: 540px 280px 138px 82px;
}

.menu__user-link {
  padding-right: 20px;
}

.navigation__link_text_right {
  text-align: right;
}

.navigation__list_inner {
  display: none;  
}

.navigation__nav-list-external {
  padding-left: 0px;
}

.nav-list-external {
  display: grid;
  grid-template-columns: 540px 159px 111px 230px;
}

.slider {
  position: relative;
}

.slider-item {
  display: grid;
  grid-template-columns: auto 560px;
}

.content  {
  position: relative;
}

.content-slider {
  margin-top: -81px;
}

.content-slider__text {
  margin-top: 0px;
  padding-right: 82px;
}

.content-slider__text {
  padding-bottom: 45px;
}

.content-slider__title-content {
  margin-bottom: 30px;
}

.content-slider__list-description {
  margin-top: 28px;
}

.item__slider1-img {
  margin-top: -48px;
  margin-left: 45px;
}

.item__props {
  margin-bottom: 15px;
}

.switch {
  position: absolute;
  right: 94px;
  bottom: 134px;
}

.switch__item {
  margin-left: 16px;
} 

.number-slider {
  position: absolute;
  top: -45px;
  right: 60px;
}

.list-description {
  display: flex;
  flex-wrap: wrap;
}

.list-description__item {
  width: calc(1/3*100% - 10px);
}

.container__popular-goods {
  margin-top: 70px;
  margin-bottom: 70px;
}

.container__title {
  box-sizing: border-box;
  padding-left: 60px;
  padding-top: 45px; 
  padding-bottom: 30px;
}

.container__companies {
  margin-top: 90px;
  margin-bottom: 60px;
}

.container__contact-info {
  margin-bottom: 85px;
}

.container__breadcrumbs {
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-left: 60px; 
}

.container__products {
  margin-top: 40px;
}

.container__wrapper-filter {
  box-sizing: border-box;
  padding-left: 60px; 
}

.container__filter {
  padding-top: 40px;
}

.popular-goods__popular-list {
  padding-left: 0px;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 40px;
}

.popular-item {  
  position: relative;
  padding-top: 185px;
}

.popular-item::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 160px; 
  top: 0;
  background-color: var(--special-yellow-dark);
  background-position: center;
  background-repeat: no-repeat;
}

.popular-item_virtual-reality::before {
  background-image: url('../img/popular-1.svg'); 
}

.popular-item_monopods::before {
  background-image: url('../img/popular-2.svg'); 
}

.popular-item_camera::before {
  background-image: url('../img/popular-3.svg'); 
}

.popular-item_band::before {
  background-image: url('../img/popular-4.svg'); 
}

.popular-item_hours::before {
  background-image: url('../img/popular-5.svg'); 
}

.popular-item_quadcopters::before {
  background-image: url('../img/popular-6.svg'); 
}

.services {
  height: 288px;
  background-color: var(--basic-grey-light);
}

.services-wrapper {
  display: grid;
  grid-template-columns: 417px auto;
}

.services__item {
  position: relative;
}

.services__img {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.services__text {
  margin-top: 40px;
}

.services__title {
  position: absolute;
  bottom: 65px;
}

.companies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-gap: 40px;
}

.companies__companies-list {
  padding-left: 0px;
}

.companies-item {
  height: 100px; 
  background-position: center;
  background-repeat: no-repeat;
}

.companies-item_logo-dji {
  background-image: url('../img/logo-1.png'); 
}

.companies-item_logo-gadgets {
  background-image: url('../img/logo-2.png'); 
}

.companies-item_logo-gopro {
  background-image: url('../img/logo-3.png'); 
}

.companies-item_logo-vive {
  background-image: url('../img/logo-4.png'); 
}

.contact-info {
  display: grid;
  grid-template-columns: 474px 560px;
  grid-gap: 127px;
}

.contact__write-to-us {
  margin-top: 85px;
}

.contact__text {
  margin-bottom: 40px;
}
  
.about-us__title {
  margin-bottom: 40px;
}

.about-us__text {
  margin-bottom: 40px;
}

.about-us__list {
  padding-left: 18px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.about-us__item {
  padding-left: 20px;
  padding-bottom: 20px;
}

.footer {
  background-color: var(--basic-dark);
}

.footer__section {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 46px;
}

.footer__contacts {
  margin-bottom: 28px;
}

.menu-footer {
  display: grid;
  grid-template-columns: auto 95px 82px;
  grid-gap: 38px;
  justify-content: end;
}

.logo-footer__img {
  margin-top: -22px; 
}

.navigation-footer {
  display: grid;
  grid-template-columns: 161px 147px auto;
}

.contacts {
  display: grid;
  grid-template-columns: 368px 440px auto;
  align-items: center;  
}

.contacts__navigation-footer {
  padding-left: 0px;
}

.other-links {
  display: grid;
  grid-template-columns: auto 510px;
  align-items: center;
  justify-content: end;
}

.socials {
  justify-self: center;
  display: grid;
  grid-template-columns: 32px 32px 32px;
  grid-gap: 20px;
  align-items: center;
}

.socials-item {
  height: 32px;
  background-repeat: no-repeat;
}

.socials-item_facebook {
  background-image: url('../img/fb.svg'); 
}

.socials-item_instagram {
  background-image: url('../img/instagram.svg'); 
}

.socials-item_twitter {
  background-image: url('../img/twitter.svg'); 
}

.breadcrumbs {
  opacity: 0.3;
}

.wrapper-filter {
  height: 70px;
  display: grid;
  grid-template-columns: 268px 272px auto;
  align-items: center;
  background: linear-gradient(to right, var(--basic-grey-dark) 328px, var(--basic-grey-light) 328px, var(--basic-grey-light) 832px);
}

.wrapper-filter__sort {
  padding-left: 72px;
}

.wrapper-filter__item {
  padding-right: 30px;
}

.wrapper-filter__icon-up {
  padding-right: 16px;
}

.filter {
  background-color: var(--basic-grey-light);
}

.filter-gradient {
  height: 70px;
  background: linear-gradient(to right, var(--basic-grey-dark) 50%, var(--basic-grey-light) 50%);
}

.filter__title {
  padding-left: 60px;
}

.filter__form {
  padding-left: 60px;

}

.content-catalog {
  display: grid;
  grid-template-columns: 328px auto;
  background: linear-gradient(to right, var(--basic-grey-light) 328px, var(--basic-white) 328px, var(--basic-white) 832px);
}

.content-catalog-gradient {
  background: linear-gradient(to right, var(--basic-grey-light) 50%, var(--basic-white) 50%);
}

.products-list {
  display: grid;
  grid-template-columns: 360px 360px;
  justify-content: end;
  grid-gap: 40px;
  row-gap: 10px
}

.products__pagination {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 75px;
  margin-bottom: 78px;
  margin-top: 40px;
}

.product__description {
  display: grid;
  grid-template-columns: 276px auto;
}

.description__name-product {
  margin-top: 0px;
}

.product__img {
  margin-bottom: 30px;
}

.pagination {
  max-width: 760px;
  height: 70px;
  background-color: var(--basic-grey-light);  
  display: grid;
  grid-template-columns: 60px auto 66px;
  align-items: center;
}

.pagination__list .list {
  padding-right: 30px;
}

.feedback {
  display: none;
} 

.map {
  display: none;
}

.hidden-content {
  display: none;
}
