:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-white-alpha: rgba(255, 255, 255, 0.7);
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;

  --basic-font-gilroy: "Gilroy", Arial, sans-serif;
  --basic-font-open-sans: "Open Sans", Arial, sans-serif;

}

@font-face { 
  font-family: "Gilroy"; 
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"), 
       url("../fonts/gilroyextrabold.woff") format("woff"); 
  font-weight: 800; 
  font-style: normal;
}

@font-face { 
  font-family: "Gilroy"; 
  src: local("Gilroy"),
       url("../fonts/gilroylight.woff2") format("woff2"), 
       url("../fonts/gilroylight.woff") format("woff"); 
  font-weight: 300; 
  font-style: normal;
}

@font-face { 
  font-family: "Open Sans"; 
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"), 
       url("../fonts/opensans.woff") format("woff"); 
  font-weight: 400; 
  font-style: normal;
}

@font-face { 
  font-family: "Open Sans"; 
  src: local("Open Sans"),
       url("../fonts/opensanslight.woff2") format("woff2"), 
       url("../fonts/opensanslight.woff") format("woff"); 
  font-weight: 300; 
  font-style: normal;
}

.page-body {  
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header {
  background-color: var(--special-yellow-dark);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 16px;
  line-height: 28px;
}

.title_size_tiny {
  font-size: 16px;
  line-height: 18px;
}

.title_size_small {
  font-size: 16px;
  line-height: 20px;
}

.title_size_medium {
  font-size: 16px;
  line-height: 22px;
}

.title_size_big {
  font-size: 36px;
  line-height: 42px;
}

.title_size_huge {
  font-size: 47px;
  line-height: 57px;
}

.title_background_grey {
  background-color: var(--basic-half-grey);
}

.text {
  font-size: 14px;
  line-height: 16px;
}

.text_size_tiny {
  font-size: 13px;
  line-height: 15px;
}

.text_size_small {
  font-size: 13px;
  line-height: 18px;
}

.text_size_medium {
  font-size: 14px;
  line-height: 19px;
}

.text_size_big {
  font-size: 15px;
  line-height: 20px;
}

.text_size_huge {
  font-size: 15px;
  line-height: 28px;
}

.text_open_sans {
  font-family: var(--basic-font-open-sans)
}

.text_gilroy {
  font-family: var(--basic-font-gilroy);
}

.text_color_white {
  color: var(--basic-white);
}

.text_uppercase {
  text-transform: uppercase;
}

.text_weight_lighter {
  font-weight: 400;
}

.text_weight_bold {
  font-weight: 800;
}

.link {
  color: var(--basic-black);
  text-decoration: none;
}

.link_yellow {}

.link_color_white {
  color: var(--basic-white);
}

.input {}

.input_search {
  color: var(--basic-half-grey);
  border: none;
  background-color: transparent;
}

.button {}

.button_reset {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  outline: none;
} 

.list {
  list-style: none;
}

.list_style_circle {
  list-style-type: circle;
}

.fielsset {
  border: none;
}

.services {
  background-color: var(--basic-grey-light);
}
.navigation__list_inner {
  display: none;
}

.breadcrumbs {
  opacity: 0.3;
}

.wrapper-filter {
  background-color: var(--basic-grey-light);
}

.filter {
  background-color: var(--basic-grey-light);
}

.pagination {
  background-color: var(--basic-grey-light);
}

.footer {
  background-color: var(--basic-dark);
}

.feedback {
  display: none;
} 

.map {
  display: none;
}
